PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'My_Spider','0001_initial','2025-07-02 18:00:07.924519');
INSERT INTO django_migrations VALUES(2,'contenttypes','0001_initial','2025-07-02 18:00:07.927533');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-07-02 18:00:07.935570');
CREATE TABLE IF NOT EXISTS "My_Spider_utenti" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "username" varchar(20) NOT NULL UNIQUE, "email" varchar(254) NOT NULL UNIQUE, "password" varchar(128) NOT NULL, "data_creazione" datetime NOT NULL, "livello" integer NOT NULL);
INSERT INTO My_Spider_utenti VALUES(1,'ok','ok@mail.com','pbkdf2_sha256$1000000$EBoYV62u9NW5eihYAcMsaq$mglBTXQjV3lJ/eTUlPCETLbV27KbrWPbsYv112llb2E=','2025-07-02 18:00:24.694385',19);
INSERT INTO My_Spider_utenti VALUES(2,'Peter','peter@mail.com','pbkdf2_sha256$1000000$EWxb0NpmMf1Dp7dWhtlSXv$toZVqAgLWGWT9hbfCaF89O4e/Qx0M+4mjX83oJz8atM=','2025-07-02 21:46:24.628410',10);
INSERT INTO My_Spider_utenti VALUES(3,'Sandy06','lollo@mail.com','pbkdf2_sha256$1000000$q0h0RmUJf1vGbxLentuOUs$Vs9J8vQIQRUSt2vEjkLL/pnE+RbPn5CjreN6cXy1E1E=','2025-07-02 22:17:38.861102',11);
CREATE TABLE IF NOT EXISTS "My_Spider_evento" ("id_evento" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(50) NOT NULL, "data" date NOT NULL, "note" text NOT NULL, "foto" varchar(100) NULL, "id_tarantola_id" integer NOT NULL REFERENCES "My_Spider_spider" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO My_Spider_evento VALUES(3,'alimentazione','2025-07-02','Ha mangiato 1 grillo (non parlante)','eventi_foto/feeding.png',1);
INSERT INTO My_Spider_evento VALUES(4,'muta','2025-07-02','seconda muta del 2025','eventi_foto/muta.png',1);
INSERT INTO My_Spider_evento VALUES(5,'altro','2025-07-02','Bagnetto in piscina','eventi_foto/bsgno.png',1);
CREATE TABLE IF NOT EXISTS "My_Spider_spider" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(100) NOT NULL, "eta" integer NOT NULL, "sesso" varchar(10) NOT NULL, "specie" varchar(50) NOT NULL, "icona" varchar(100) NOT NULL, "unita_eta" varchar(10) NOT NULL, "utente_id" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO My_Spider_spider VALUES(1,'Peter',4,'M','Brachypelma hamorii','blu.gif','giorni',1);
INSERT INTO My_Spider_spider VALUES(3,'zia May',5,'F','Caribena versicolor','pink.gif','anni',1);
INSERT INTO My_Spider_spider VALUES(4,'zio Ben',5,'M','chromatopelma cyaneopubescens','blu.gif','mesi',1);
CREATE TABLE IF NOT EXISTS "My_Spider_seguito" ("id_seguito" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "id_utente_seguace" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED, "id_utente_seguito" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "My_Spider_interazione_evento" ("id_interazione" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(20) NOT NULL, "testo_commento" text NOT NULL, "data" datetime NOT NULL, "id_evento" integer NOT NULL REFERENCES "My_Spider_evento" ("id_evento") DEFERRABLE INITIALLY DEFERRED, "id_utente" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "My_Spider_interazione_articolo" ("id_interazione" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(20) NOT NULL, "testo_commento" text NOT NULL, "data" datetime NOT NULL, "id_articolo" integer NOT NULL REFERENCES "My_Spider_articolo" ("id_articolo") DEFERRABLE INITIALLY DEFERRED, "id_utente" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "My_Spider_articolo" ("id_articolo" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titolo" varchar(200) NOT NULL, "testo" text NOT NULL, "data" date NOT NULL, "id_utente" integer NOT NULL REFERENCES "My_Spider_utenti" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('oqkuikddmhaivh2dn36jphzh8h3kcs3u','eyJsb2dpbl9hdHRlbXB0cyI6MH0:1uZ4wc:W_NpIEdzh2Pv7oxDUGggepLJZua9moulguVhjVig9z0','2025-07-22 09:48:58.261687');
INSERT INTO django_session VALUES('vv2u39ndqswoum1vjv14n4rm9k9i6gn4','eyJsb2dpbl9hdHRlbXB0cyI6MCwibG9nZ2VkX2luIjp0cnVlLCJ1c2VybmFtZSI6Im9rIn0:1uaDmk:OeIsCkWWCS8zj0HJSOwHj7T7jPOAwwsg7vrO4DJBKIc','2025-07-25 13:27:30.440299');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('My_Spider_spider',10);
INSERT INTO sqlite_sequence VALUES('My_Spider_articolo',12);
INSERT INTO sqlite_sequence VALUES('django_migrations',19);
CREATE INDEX "My_Spider_evento_id_tarantola_id_565d088c" ON "My_Spider_evento" ("id_tarantola_id");
CREATE INDEX "My_Spider_spider_utente_id_3c116f36" ON "My_Spider_spider" ("utente_id");
CREATE INDEX "My_Spider_seguito_id_utente_seguace_76b0747e" ON "My_Spider_seguito" ("id_utente_seguace");
CREATE INDEX "My_Spider_seguito_id_utente_seguito_098bf955" ON "My_Spider_seguito" ("id_utente_seguito");
CREATE INDEX "My_Spider_interazione_evento_id_evento_097359e8" ON "My_Spider_interazione_evento" ("id_evento");
CREATE INDEX "My_Spider_interazione_evento_id_utente_68979455" ON "My_Spider_interazione_evento" ("id_utente");
CREATE INDEX "My_Spider_interazione_articolo_id_articolo_8768153d" ON "My_Spider_interazione_articolo" ("id_articolo");
CREATE INDEX "My_Spider_interazione_articolo_id_utente_12ae63a7" ON "My_Spider_interazione_articolo" ("id_utente");
CREATE INDEX "My_Spider_articolo_id_utente_bc24f8a1" ON "My_Spider_articolo" ("id_utente");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
COMMIT;
